



.jumbotron {
	background-color: #7ca4ab;
	color: black;
	margin-top: 70px;
	text-align: center;
}
.btn {
	background: #17a2b8;
	color: yellow;
	text-align: right;
}

footer {
	padding: 20px;
	background-color: #117a8b;
	margin-bottom: 40px;
	margin-top: 40px;
	border-radius: 5px;
	text-align: center;
}
.card-foto {
	flex: 1 200px;
	padding: 20px;
}
.btn-reserva {
	width: 100%;

}
button {
	background: green;
}
.center {
	margin:40px;
	text-align: auto;
	padding: auto;
}
header {
	padding: 20px;
} 
header .h1 {
	color: black;
}
 .footer-address-icon {
 	padding: 5px;
 }
 /*.bb {
 	text-align: center;
 }*/
 .fot {
 	background: cyan;
 	text-align: center;
 }
 .reyeno {
 	padding: 40px;
 	shape-margin: 0px;
 }

 .apuro {

 	display: inline-block;
 }
 a .YY{

 	background: red;
 }

 .marmy{
 	margin-top: 15px;
 }
 .caro{
 	border-radius: 10px;
 }