@green: #28a745;
@red: #dc3545;
@amarillo: #ffc107;

.margenes(@top, @bottom){
	margin-top: @top;
	margin-bottom: @bottom;
}


.jumbotron {
	background-color: @green;
	color: black;
	.margenes(40px, 15px);
	text-align: center;
}
.btn {
	background: @red;
	color: yellow;
	text-align: right;
}

footer {
	padding: 20px;
	background-color: @amarillo;
	.margenes(40px, 15px);
	border-radius: 5px;
	text-align: center;
}
.card-foto {
	flex: 1 200px;
	padding: 20px;
}