$green: #e83e8c;
$red: #dc3545;
$amarillo: #ffc107;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}


.jumbotron {
	background-color: $green;
	color: black;
	@include margenes(40px, 15px);
	text-align: center;
}
.btn {
	background: $red;
	color: yellow;
	text-align: right;
}

footer {
	padding: 20px;
	background-color: $amarillo;
	@include margenes(40px, 15px);
	border-radius: 5px;
	text-align: center;
}
.card-foto {
	flex: 1 200px;
	padding: 20px;
}