

.jumbotron {
	background-color: #7ca4ab;
	color: black;
	margin-top: 70px;
	text-align: center;
}
.btn {
	background: #17a2b8;
	color: yellow;
	text-align: right;
}

footer {
	padding: 20px;
	background-color: #117a8b;
	margin-bottom: 40px;
	margin-top: 40px;
	border-radius: 5px;
	text-align: center;
}
.card-foto {
	flex: 1 200px;
	padding: 20px;
}
.btn-reserva {
	width: 100%;
