.jumbotron {
  background-color: #e83e8c;
  color: black;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center; }

.btn {
  background: #dc3545;
  color: yellow;
  text-align: right; }

footer {
  padding: 20px;
  background-color: #ffc107;
  margin-top: 40px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: center; }

.card-foto {
  flex: 1 200px;
  padding: 20px; }

/*# sourceMappingURL=styles2.css.map */
